<div class="container">
	<div class="row">
		<h1 class="center">What We Do</h1>
		<!-- NASA's Image of the day API -->
		<img src="<%= @nasa_info["url"]%>" class="center-element img-responsive" />
		<p>One of our recent class of 2015 scholars was hired on the Hubble Space Telescope's engineering team at the Goddard Space Flight Center (photo courtesy of NASA).</p>
		<div class="col-md-4">
			<h4 class="center">Breaking Down Barriers</h4>
			<p>In 2015, 60% of all undergraduate students in the United States said that not being being able to afford tuition was the largest barrier to completing their degrees. For minority and foreign born students this figure was considerably higher- at 90%. </p>
		</div>
		<div class="col-md-4">
			<h4 class="center">Creating Opportunity</h4>
			<p>College graduates with a bachelor's degree earn on average <strong>66 percent more</strong> than those with a high school diploma; and are also far less likey to face unemployment.</p>
		</div>
		<div class="col-md-4">
			<h4 class="center">Cultivating Academic Success</h4>
			<p>The transition to higher education can be a difficult one, and many students struggle to adapt to the rigorous courseloads of their universities. The support from our scholar managers helps students make that transition.</p>
		</div>
	</div>
</div>