<div class="container">
	<div class="row">
		<div class="col-md-6 elgibility-box">

			<h2 class="center">To apply for the Philanthropist's Scholarship, you  must meet the following requirements:</h2>

			<ol>
				<li>Non Traditional Student (First generation college student, minority, immigrant, disabled, etc.)</li>
				<li>US Citizen or legal resident</li>
				<li>Attend or plan to attend an accredited 2-year, 4-year or vocational/trade school in the United States or Canada</li>
				<li>Be committed to utilizing your education to better your life, your family's life and/or community.</li>
			</ol>
			<p>If you meet all of the above requirements, we <a href="/users/sign_up">invite you to click here to apply for the Philanthropist's Scholarship.</a></p>
			<%= image_tag "scholarship-laptop.png", :class => "img-responsive center-element" %>
		</div>
		<div class="col-md-6 scholar-box">
			<%= image_tag "graduate-UMD.png", :class => "img-responsive center-element" %>
			<p><i>"Coming from an immigrant family, I had a lot to live up to. I knew my family wouldn't have any money to pay for college, so I worked as hard as I could in high school, playing three sports and earning over 16 AP credits before winning the Philanthropist's Scholarship to attend the University of Maryland. The help the Philanthropist's Scholarship and their amazing staff gave really did prove that this place is a land of opportunity,"</i>- Anbu, Philanthropist's Foundation Scholar, University of Maryland '14</p>
		</div>
	</div>
</div>