<div class="container">

	<h1 class="center">Scholarship Application</h1>
	<%= image_tag "graduates.png", :class => "center-element img-responsive" %>
	<h4 class="center">The Philanthropist's Giving Foundation Scholarship is built with the belief that every human being has the right to an education and the right to pursue their dreams. The Philanthropist's Giving Foundation Scholarship focuses on students of diverse backgrounds, with the aim of making higher education a reality for all. Since opening our doors in 2013, we have awarded over 3 million dollars in scholarships to over 60 students of diverse backgrounds.</h4>

	<div class="row">
		<h1 class="center">What We Do</h1>
		<div class="col-md-4">
			<h4 class="center">Breaking Down Barriers</h4>
			<p>In 2015, 60% of all undergraduate students in the United States said that not being being able to afford tuition was the largest barrier to completing their degrees. For minority and foreign born students this figure was considerably higher- at 90%. </p></hr>
			<p>Because our scholarship offers full tuition and a living stipend- our scholars can focus 110% of their efforts on studying.</p>
		</div>
		<div class="col-md-4">
			<h4 class="center">Creating Opportunity</h4>
			<p>College graduates with a bachelor's degree earn on average <strong>66 percent more</strong> than those with a high school diploma; and are also far less likey to face unemployment.</p><hr>
			<p>We award our scholarships to minority and other non-traditional college students: making a difference in their life and earning potentially for the rest of their lives.</p>
		</div>
		<div class="col-md-4">
			<h4 class="center">Cultivating Academic Success</h4>
			<p>The transition to higher education can be a difficult one, and many students struggle to addapt to the rigorous courseloads of their universities. </p><hr>
			<p>With the help of our <a href="$">Academic Success Managers</a>, our scholars get the help they need, when they need it. Since 2013, we have awarded our scholarship to 60 undergaduate students- and all 60 have succeeded.</p>
		</div>

</div>
