<div class="container" id="landing-page">

	<h1 class="center" id="page-title">The Philanthropist's Scholarship: Changing Lives</h1>
	<div class="row">
		<div class="col-lg-12">
			<%= image_tag "graduates.png", :class => "center-element img-responsive" %>
			<h4 class="center">The Philanthropist's Giving Foundation Scholarship opened its doors in 1999 with the belief that every human being has the right to an education and the right to pursue their dreams. The Philanthropist's Giving Foundation Scholarship focuses on students of diverse backgrounds, with the aim of making higher education a reality for all.</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<%= image_tag "college-grad.jpg", :class => "center-element img-responsive thumbnail" %>
			<p><i>"It certainly hasn't been an easy journey- but I'm here," Silvia, Class of 2016</i></p>
		</div>
		<div class="col-md-6">
			<strong><h4 class="statistics-counter center">750</h4></strong><p>students awarded <strong>over $30,000,000</strong> in scholarships since 1999.</p>
			<button type="button" class="btn btn-primary center-element">Learn More</button>
			<strong><h4 class="statistics-counter center">96</h4></strong><p>percent of scholars completed their degree within five years.</p>
			<button type="button" class="btn btn-success center-element">Learn More</button>
		</div>
	</div>
</div>
