<div class="container">

	<h1 class="center">Scholarship Application</h1>
	<p class="center">The Philanthropist's Giving Foundation Scholarship is built with the belief that every human being has the right to an education and the right to pursue their dreams. The Philanthropist's Giving Foundation Scholarship focuses on students of diverse backgrounds, with the aim of making higher education a reality for all. Since opening our doors in 2013, we have awarded over 3 million dollars in scholarships to over 60 students of diverse backgrounds.</p>

	<div class="row">
		<h1 class="center">What We Do</h1>
		<div class="col-md-4">
			<h4 class="center">Breaking Down Barriers</h4>
		</div>
		<div class="col-md-4">
			<h4 class="center">Creating Opportunity</h4>
		</div>
		<div class="col-md-4">
			<h4 class="center">Cultivating Academic Excellence</h4>
		</div>

</div>
