<div class="container">

	<h1 class="center">Scholarship Application</h1>
	<%= image_tag "graduates.png", :class => "center-element img-responsive" %>
	<h4 class="center">The Philanthropist's Giving Foundation Scholarship opened its doors in 1999 with the belief that every human being has the right to an education and the right to pursue their dreams. The Philanthropist's Giving Foundation Scholarship focuses on students of diverse backgrounds, with the aim of making higher education a reality for all.</h4>

	<div class="row">
		<div class="col-md-4">
			<h4 class="statistics-counter">750</h4><p>students awarded <strong>over $30,000,000</strong> in scholarships since 1999.</p>
		</div>
		<div class="col-md-4">
			<h4 class="statistics-counter">96</h4><p>percent of scholars completed their Bachelor's degree within five years.</p>
		</div>
		<div class="col-md-4">
			<h4 class="counter">750</div>
		</div>
	</div>
</div>
