<% if user_signed_in? && current_user.role == "Admin" %>

	<h1 class="center">Raffler- Select a winner for the scholarship!</h1>

	<div ng-controller="RaffleCtrl">
	
		<ul>
			<li ng-repeat="user in users">
				{{user.first_name}}
				<span ng-show="user.winner" ng-class="{highlight: user == lastWinner}" class="winner">WINNER</SPAN>
			</li>
		</ul>

		<button ng-click="drawWinner()">Choose Winner </button>
	</div>
<% end %>