/*Buttons*/

.btn-primary {
	color: #fff;
}


/*Navbar*/


/*Styles for HTML Elements*/

.center-element {
	display: block;
	margin: 0 auto;
}

/*Font Styles and Text*/

.center {
	text-align: center;
}

h1 {
	font-family: Georgia, sans-serif;
}

h2 {
	font-family: Georgia, sans-serif;
}

h3 {
	font-family: Georgia, sans-serif;
}

h4 {
	font-family: Georgia, sans-serif;
}

h5 {
	font-family: Georgia, sans-serif;
}

h6 {
	font-family: Georgia, sans-serif;
}

a {
	color: gray;
	font-size: medium;
	font-family: Georgia, sans-serif;
}

p {
	color: gray;
	font-size: medium;
	font-family: Georgia, sans-serif;
}

li {
	color: gray;
	font-size: medium;
	font-family: Georgia, sans-serif;
}

ul {
	color: gray;
	font-size: medium;
	font-family: Georgia, sans-serif;
}

ol {
	color: gray;
	font-size: medium;
	font-family: Georgia, sans-serif;
}

/*Landing Page*/

#landing-page {
	background-image: url('<%= @nasa_info["url"]%>');
}

/*Instructions page*/

.elgibility-box {
	background-color: #d1d1e0;
	color: #fff;
}

.scholar-box {
	background-color: #d1d1e0;
	color: #fff;
}

/*Applications*/

.field {
	color: gray;
	font-size: medium;
	font-family: Georgia, sans-serif
}

#essay-form {
	height: 300px;
	width: 600px
}
